# Editors
.idea
.vscode

# Gradle
.gradle
build

# Misc.
.DS_Store
*.log
karma.config.generated.js

# Config
/psoserv/psoserv.conf

# Kotlin
/.kotlin

# Mobile (Capacitor)
mobile/node_modules
mobile/ios/App/Pods
mobile/ios/App/output
mobile/ios/App/App/public
